.barra {
  background: #cacac9;
}
.circulo {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  top: 0;
  left: 40%;
  transform: translate(-50%, -50%);
}

@media (max-width: 480px) {
  .container-navbar {
    padding-left: 1rem !important;
    padding-right: 2.5rem;
  }
  .menu-button {
    right: 0.7rem;
  }
}
